<div class="notes-list">
    <a class="btn btn-primary" [routerLink]="['create']">Create note</a>
    <div *ngIf="isNotesListEmpty">
        <p>Notes list is empty</p>
    </div>
    <div class="list-group" *ngFor="let note of notes">
        <div class="list-group-item">
            <img src="data:image/gif;base64,{{ note.photos[0].image }}" height="50" alt="img"/>
            <a [routerLink]="['edit',note.id]"> {{ note.date | date }} {{ note.description }}</a>
        </div>        
    </div>
</div>