<div #mainContainer
    (mouseover)="onMouseOver(mainContainer)" 
    (mouseleave)="onMouseLeave(mainContainer)"    
    class="list-group-item clearfix note-item-container">
  <div class="text-container" (click)="onItemClick()">
    <h4 class="list-group-item-heading">{{ note?.date | date }}</h4>
    <p class="list-group-item-text">{{ note?.description }}</p>
  </div>
  <div>
    <a (click)="onNoteDelete()" routerLinkActive="active">
      <span class="glyphicon glyphicon-minus-sign delete-button"></span>
    </a>
  </div>
</div>
